*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:  linear-gradient(0deg, rgba(110,100,231,1) 0%, rgba(171,104,235,1) 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

img{
    max-width: 100%;
}



.faq button{
        background-color: inherit;
        border: 0;
        display: flex;
        text-align: start;
        padding: 10px 0;
       width: 90%;
        font-size: 0.875rem;
        color: #909090;
}

@media (max-width: 960px){
    .faq button{
        padding: 0
    }
}


.accordion-painel[hidden]{
    display: flex;
    font-size: 0.875rem;
    color: #808080;
    margin-bottom: 5px;
}

.accordion-title{
    font-size: 0.875rem;
color: black;
margin-bottom: 10px;
}

.accordion-painel[hidden] p{
    max-width: 350px;
}

@media (max-width: 960px){
    .accordion-painel[hidden] p{
        max-width: 300px;
    }
}


.accordion-painel[hidden]{
    font-size: 0.875rem;
    color: #808080;
    margin-bottom: 10px;
}

.accordion-painel[hidden] p{
    max-width: 350px;
}



.wrapper{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 border-radius: 20px;
width: 60rem;
height: 35rem;
background-color: #fff;
position: relative;

}
@media (max-width: 960px){
    .wrapper{
        display: block;
        grid-template-columns: 1fr;
    margin-top: 5rem;
    max-width: 25rem;
    height: 40rem;
    }
}


.accordion-title{
    display: flex;
    width: 90%;
    justify-content: space-between;
   }



.box-desktop{
    position: absolute;
    height: 180px;
    z-index: 2;
    left: -96px;
    top: 250px;
    }

    @media (max-width: 960px){
        .box-desktop{
            display: none;
        }
    }
    .mobile-shadow{
        display: none;
        position: absolute;
        top: 45px;
        height: 100px;
        width: 300px;
    }
    @media (max-width: 960px){
        .mobile-shadow{
            display: block
        }
    }


    .shadow{
        position: absolute;
        left: -150px;
       height: 600px;
      
    }

    @media (max-width: 960px){
        .shadow{
            display: none
        }
    }

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;   
}


.mobile-image{
    display: none;
    position: absolute;
    z-index: 2;
    height: 250px;
    width: 400px;
}
.desktop{
    position: absolute;
   left: -80px;
   height: 380px;
   width: 450px;
   
 }

@media (max-width: 960px){
    .image{
        overflow: visible;
       margin-bottom: 50px;
    }
    .mobile-image{
        display: block;
    }

    .desktop{
        display: none;
    }
}



h2{
    font-size: 2rem;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
}


@media (max-width: 960px){

img{
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

 .faq-container{
  padding: 1rem;  
}

.faq-container h2{
    font-size: 2rem;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5rem;
}

.faq button{
    width: 100%;
}

.faq{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

span{
    font-weight: bold;
}

   .faq-container h2{
    text-align: center;
    margin-top: 5.5rem;
   }

 }